<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>foryou_platform</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<login-config>
		<auth-method>BASIC</auth-method>
	</login-config>
	<session-config>
		<session-timeout>180</session-timeout>
	</session-config>
	<listener>
		<listener-class>foryou.core.listener.InitMvc</listener-class>
	</listener>
	<filter>
		<filter-name>foryou</filter-name>
		<filter-class>foryou.core.filter.RequestDispatcherFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>foryou</filter-name>
		<url-pattern>*.php</url-pattern>
	</filter-mapping>
	<error-page>
		<error-code>404</error-code>
		<location>/Error/404.htm</location>
	</error-page>
</web-app>